.title-font {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
}
body {
  background-image: url("./pics/swiggles.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.title {
  width: 10vw;
  display: flex;
  align-items: center;
}
.navbar-items {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.box {
  width: 100vw;
  height: 25vh;
  align-items: center;
  background-color: black;
  background-image: url("./pics/invertswiggles.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.text {
  font-family: "Helvetica Neue";
  color: black;
  text-align: center;
}
.footer {
  font-family: "herculanum";
  text-align: center;
  font-size: 150%;
}
.container {
  background-color: white;
}
.ml-4 {
  font-family: "Canela";
  color: black;
}
.column {
  font-family: "Herculanum";
}
.about-img {
  width: 100%;
}
.single {
  font-family: Helvetica;
  font-size: larger;
  text-align: center;
}
.icons {
  align-content: center;
}
.tour-img {
  width: 50%;
}
