.title-font {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.video {
  width: 100%;
  aspect-ratio: 16/9;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.title {
  width: 10vw;
  display: flex;
  align-items: center;
}
.navbar-items {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.header {
  text-align: center !important;
  font-family: "herculanum";
  color: white;
}
.box {
  width: 100vw;
  height: 25vh;
  display: flex;
  align-items: center;
  background-color: black;
}
*is-pulled-left {
  align-self: left !important;
}
.text {
  font-family: "Helvetica Neue";
  color: black;
  text-align: center;
}
.footer {
  font-family: "herculanum";
  text-align: center;
  font-size: 150%;
}
