* {
  font-family: "helvetica Neue" !important;
}
.title-font {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.video {
  width: 100%;
  aspect-ratio: 16/9;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
